* {
  margin: 0;
  padding: 0;
}

.gap {
  margin: 15px;
}

.app {
  text-align: center;
}

.app>h1 {
  background-color: black;
  color: white;
  text-align: center;
}

.submit {
  background-color: purple;
  color: white;
  border-radius: 2px;
  padding: 2px;
  border: none;
  margin-left: 8px;
}